.l-side {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 60vw;
    height: 100%;
    background-color: white;
    z-index: 75;

    &.is-open {
        left: 40%;
        transition: 1s ;
        will-change: transform; //transition要素にどのような変更を加えるかを前もってブラウザに知らせる
      }

   

}