@use "../../foundation/mixin" as mixin; 

// ヘッダーのSNSアイコン
.c-icon {
    &__twitter {
        width: 38px;
        height: 31px;

            @include mixin.smartphone {
                width: 19px;
                height: 16px;
            }
    
        
    }

    &__instagram {
        width: 30px;
        height: 30px;

            @include mixin.smartphone {
                width: 20px;
                height: 20px;
            }

    }
    &__cross {
        width: 50px;
        height: 50px;

            @include mixin.smartphone {
                width: 30px;
                height: 30px;
            }
    }
}

// 赤のあしらい
.c-redicon {
    height: 80px;
    width: 80px;

    @include mixin.tablet {
        height: 40px;
        width: 40px;
    }

    @include mixin.smartphone {
        height: 30px;
        width: 30px;
    }
}

// 白のあしらい（直角の直線）
.c-whiteicon {
    height: 40px;
    width: 40px;
}

