// mixin用名前空間の宣言
@use '../../foundation/mixin' as mixin;

// ヘッダーの「Contact」のリンク
.c-square{
    >li {
      text-align: center;
      height: 50px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      >a {
        display: block;
      }
    }
    >li:nth-of-type(4){
      background-color: white;
      border-radius:  10px;
      >a{
        color:black;
      }
    }

    &__skilltitle {
      @include mixin.verticalcenter;
      background-color: white;
      height: 40px ;
      
       >p {
         color: black;
         padding-left: 20px;
       } 
    }

    &__skillcontent {
      background-color: white;
      height: 120px ;

        @include mixin.smartphone {
          @include mixin.verticalcenter;
        }
        

        >p {
          color: black;
          padding: 40px 0 0 40px;

            @include mixin.smartphone {
              padding: 0 20px 0 20px;
            }
        }
    }
  
}

