
@use "../../foundation/mixin" as mixin;

.c-underline {
    &__white {
        position: relative;
            &::after{
                @include mixin.underline(white);
                
                    }
            &:hover::after{
                transform: scale(1, 1);   
                           }
    }

    &__black {
        position: relative;
          &::after{
               @include mixin.underline(black);
                  }
          &:hover::after{
              transform: scale(1, 1);   
                         }
    }

    &__border {
        height: 20px;
        width: 80vw;
        margin-bottom: 30px;
        position: relative;
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 1px;
                top: 10px;
                background-color: white;
            }
    }

    &__subtitle {
        position: relative;
           &::after {
               position: absolute;
               content: "";
               width: 760px;
               height: 1px;
               background-color: white;
               left: 0px;
               bottom: 0px;

                @include mixin.tablet { 
                    width: 480px;
                }

                @include mixin.smartphone { 
                    width: 280px;
                }

           }
    }

    &__contact {
        text-decoration:underline;
        font-family: 'Noto Sans JP', sans-serif;
    }

}

// 矢印のリンク
.c-linkline {
    position: relative;
    width: 200px;
    text-align: center;

     @include mixin.smartphone {
         width: 100px;
     }
    
    // 下線のアンダーラインのアニメーション
        &::after{
            @include mixin.underline(white);
            height: 1px;
            width: 100%;
            
                }
        &:hover::after{
            transform: scale(1, 1);   
                    }

        &::before {
            position: absolute;
            content: '';
            width: 25%;
            height: 1px;
            background-color:black;
            bottom: -4px;
            left: 100%;
            transition: transform .3s;
        }
        &:hover::before {
            transform-origin: bottom left; 
            background-color:white;
            transform: rotate(-135deg);
        }


}



